@charset "utf-8";
/*登录前左侧广告*/
.login_ad1{ float:left; width:232px;  padding-top:10px; background:#fff;}
.login_ad1 img{ width:230px; height:120px;border:1px solid #dedede;}
/*登录前轮播广告*/
.login_ad2{ float:left; width:485px;border: 1px solid #dedede; margin:5px; display:inline; }
.login_ad2 img{ width:485px; height:200px;border:1px solid #dedede;}
#focus { width: 485px; height: 200px; clear: both; overflow: hidden; position: relative; float: left; }
#focus ul { width: 485px; height: 200px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
#focus ul li { float: left; width: 485px; height: 200px; overflow: hidden; position: relative; padding: 0px; margin: 0px; }
#focus .preNext { width: 45px; height: 200px; position: absolute; top: 0px; cursor: pointer; }
#focus .pre { left:5px; background:url(../images/sprite.png) no-repeat left center; }
#focus .next { right:5px; background: url(../images/sprite1.png) no-repeat right center; }
/*登录后左侧广告*/
.index_ad1{ float:left; width:232px;  margin-top:10px;border:1px solid #dedede;}
.index_ad1 img{ width:230px; height:120px;}
/*登录后轮播广告*/
.index_ad2{ float:left; width:485px;border: 1px solid #dedede; margin-left:5px; display:inline; }
.index_ad2 img{ width:485px; height:150px;}
#focus2 { width: 485px; height:150px; clear: both; overflow: hidden; position: relative; float: left; }
#focus2 ul { width: 485px; height: 150px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
#focus2 ul li { float: left; width: 485px; height: 150px; overflow: hidden; position: relative; padding: 0px; margin: 0px; }
#focus2 .preNext { width: 45px; height: 150px; position: absolute; top: 0px; cursor: pointer; }
#focus2 .pre { left:5px; background:url(../images/sprite.png) no-repeat left center; }
#focus2 .next { right:5px; background: url(../images/sprite1.png) no-repeat right center; }
/*课件ad*/
.kj_ad{width:978px; margin:10px auto auto auto; height:120px; border:1px solid #dedede;}
.kj_ad img{ width:978px; height:120px;}
#focus1 { width: 978px; height: 120px; clear: both; overflow: hidden; position: relative; float: left; }
#focus1 ul { width: 485px; height: 120px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
#focus1 ul li { float: left; width: 978px; height: 120px; overflow: hidden; position: relative; padding: 0px; margin: 0px; }
#focus1 .preNext { width: 23px; height: 120px; position: absolute; top: 0px; cursor: pointer; }
#focus1 .pre { left:5px; background:url(../images/sprite2.png) no-repeat left center; }
#focus1 .next { right:5px; background: url(../images/sprite3.png) no-repeat right center; }